<#@ template debug="true" hostspecific="false" visibility="internal" language="C#" inherits="TemplateBase" #>
<#@ parameter name="DeviceMetadata" type="DeviceInfo" #>
<#@ parameter name="PortPinMetadata" type="Dictionary<string, PortPinInfo>" #>
<#@ import namespace="Harp.Generators" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".h" #>
#ifndef _APP_IOS_AND_REGS_H_
#define _APP_IOS_AND_REGS_H_
#include "cpu.h"
<#
var inputPins = TemplateHelper.GetPortPinsOfType<InputPinInfo>(PortPinMetadata).ToList();
var outputPins = TemplateHelper.GetPortPinsOfType<OutputPinInfo>(PortPinMetadata).ToList();
var deviceName = DeviceMetadata.Device;

int maxRegisterNameLength = 0;
int minRegisterAddress = byte.MaxValue;
int maxRegisterAddress = 32;
int totalRegisterSize = 0;
foreach (var registerMetadata in DeviceMetadata.Registers)
{
    var register = registerMetadata.Value;
    var registerName = TemplateHelper.GetFirmwareName(registerMetadata.Key);
    maxRegisterNameLength = Math.Max(maxRegisterNameLength, registerName.Length);
    minRegisterAddress = Math.Min(minRegisterAddress, register.Address);
    maxRegisterAddress = Math.Max(maxRegisterAddress, register.Address);
    totalRegisterSize += Math.Max(1, register.Length) * TemplateHelper.GetPayloadTypeSize(register.Type);
}
#>

void init_ios(void);
<#
var maxPinNameLength = Math.Max(
    inputPins.Count > 0 ? inputPins.Max(pin => TemplateHelper.GetFirmwareName(pin.Key).Length) : 0,
    outputPins.Count > 0 ? outputPins.Max(pin => TemplateHelper.GetFirmwareName(pin.Key).Length) : 0);
if (inputPins.Count > 0)
{
#>
/************************************************************************/
/* Definition of input pins                                             */
/************************************************************************/
<#
    foreach (var pin in inputPins)
    {
        var pinName = TemplateHelper.GetFirmwareName(pin.Key);
        var descriptionOffset = maxPinNameLength - pinName.Length + 10;
#>
// <#= pinName #><#= new string(' ', descriptionOffset) #>Description: <#= pin.Value.Description #>
<#
    }
#>

<#
    foreach (var pin in inputPins)
    {
        var pinInfo = pin.Value;
        var pinName = TemplateHelper.GetFirmwareName(pin.Key);
        var nameOffset = maxPinNameLength - pinName.Length + 4;
#>
#define read_<#= pinName #> read_io(<#= pinInfo.Port #>, <#= pinInfo.PinNumber #>)<#= new string(' ', nameOffset) #>// <#= pinName #>
<#
    }
#>

<#
}
#>
<#
if (outputPins.Count > 0)
{
#>
/************************************************************************/
/* Definition of output pins                                            */
/************************************************************************/
<#
    foreach (var pin in outputPins)
    {
        var pinName = TemplateHelper.GetFirmwareName(pin.Key);
        var descriptionOffset = maxPinNameLength - pinName.Length + 10;
#>
// <#= pinName #><#= new string(' ', descriptionOffset) #>Description: <#= pin.Value.Description #>
<#
    }
#>
<#
    foreach (var pin in outputPins)
    {
        var pinInfo = pin.Value;
        var pinName = TemplateHelper.GetFirmwareName(pin.Key);
        var setFunc = pinInfo.Invert ? "clear_io" : "set_io";
        var clrFunc = pinInfo.Invert ? "set_io" : "clear_io";
#>

/* <#= pinName #> */
#define set_<#= pinName #> <#= setFunc #>(<#= pinInfo.Port #>, <#= pinInfo.PinNumber #>)
#define clr_<#= pinName #> <#= clrFunc #>(<#= pinInfo.Port #>, <#= pinInfo.PinNumber #>)
#define tgl_<#= pinName #> toggle_io(<#= pinInfo.Port #>, <#= pinInfo.PinNumber #>)
#define read_<#= pinName #> read_io(<#= pinInfo.Port #>, <#= pinInfo.PinNumber #>)
<#
    }
#>

<#
}
#>
/************************************************************************/
/* Registers' structure                                                 */
/************************************************************************/
typedef struct
{
<#
foreach (var registerMetadata in DeviceMetadata.Registers)
{
    var register = registerMetadata.Value;
    var registerName = TemplateHelper.GetFirmwareName(registerMetadata.Key);
    var arrayType = register.Length > 0 ? $"[{register.Length}]" : string.Empty;
    var firmwareType = TemplateHelper.GetFirmwareType(register.Type);
#>
    <#= firmwareType #> REG_<#= registerName #><#= arrayType #>;
<#
}
#>
} AppRegs;

/************************************************************************/
/* Registers' address                                                   */
/************************************************************************/
/* Registers */
<#
foreach (var registerMetadata in DeviceMetadata.Registers)
{
    var register = registerMetadata.Value;
    var registerAddress = register.Address.ToString();
    var registerName = TemplateHelper.GetFirmwareName(registerMetadata.Key);
    var registerType = TemplateHelper.GetFirmwareRegisterType(register.Type);
    var addressOffset = new string(' ', maxRegisterNameLength - registerName.Length - registerAddress.Length + 6);
    var descriptionOffset = new string(' ', 7 - registerType.Length);
#>
#define ADD_REG_<#= registerName #><#= addressOffset #><#= registerAddress #> // <#= registerType #><#= descriptionOffset #><#= register.Description #>
<#
}
#>

/************************************************************************/
/* <#= deviceName #> registers' memory limits<#= new string(' ', 44 - deviceName.Length) #>*/
/*                                                                      */
/* DON'T change the APP_REGS_ADD_MIN value !!!                          */
/* DON'T change these names !!!                                         */
/************************************************************************/
/* Memory limits */
#define APP_REGS_ADD_MIN                    0x<#= minRegisterAddress.ToString("X") #>
#define APP_REGS_ADD_MAX                    0x<#= maxRegisterAddress.ToString("X") #>
#define APP_NBYTES_OF_REG_BANK              <#= totalRegisterSize #>

/************************************************************************/
/* Registers' bits                                                      */
/************************************************************************/
<#
var maxBitMaskNameLength = TemplateHelper.GetMaxFirmwareBitMaskNameLength(DeviceMetadata);
var maxGroupMaskNameLength = TemplateHelper.GetMaxFirmwareGroupMaskNameLength(DeviceMetadata);
var maxMaskNameLength = Math.Max(maxBitMaskNameLength, maxGroupMaskNameLength);
foreach (var bitMask in DeviceMetadata.BitMasks)
{
    var mask = bitMask.Value;
    foreach (var bitField in mask.Bits)
    {
        var fieldInfo = bitField.Value;
        var fieldName = TemplateHelper.GetFirmwareName(bitField.Key);
        var fieldNamePadding = new string(' ', maxMaskNameLength - fieldName.Length + 6);
        var bitShift = (int)Math.Log(fieldInfo.Value, 2);
        var bitShiftPadding = new string(' ', 8 - bitShift.ToString().Length);
#>
#define B_<#= fieldName #><#= fieldNamePadding #>(1<<<#= bitShift #>)<#= bitShiftPadding #>// <#= fieldInfo.Description ?? string.Empty #>
<#
    }
}
#>
<#
foreach (var groupMask in DeviceMetadata.GroupMasks)
{
    var mask = groupMask.Value;
    var maskSelect = TemplateHelper.GetMaskSelect(mask).ToString("X2");
    var maskName = TemplateHelper.GetFirmwareGroupMaskName(groupMask.Key);
    var maskNamePadding = new string(' ', maxMaskNameLength - maskName.Length + 4);
    var maskSelectPadding = new string(' ', 11 - maskSelect.Length);
#>
#define MSK_<#= maskName #><#= maskNamePadding #>0x<#= maskSelect #><#= maskSelectPadding #>// 
<#

    foreach (var member in mask.Values)
    {
        var memberInfo = member.Value;
        var memberName = TemplateHelper.GetFirmwareName(member.Key);
        var memberNamePadding = new string(' ', maxMaskNameLength - memberName.Length - maskName.Length + 4);
        var memberHexValue = memberInfo.Value.ToString("X2");
        var memberHexPadding = new string(' ', 11 - memberHexValue.Length);
#>
#define GM_<#= maskName #>_<#= memberName #><#= memberNamePadding #>0x<#= memberHexValue #><#= memberHexPadding #>// <#= memberInfo.Description ?? string.Empty #>
<#
    }
}
#>

#endif /* _APP_REGS_H_ */